@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #226666;
  color: #FFAAAA;
align-content: center;
justify-content: center;
display: flex;}

table {
  width: 75%,
}

td {
  text-align: center;
}

th, td {
  border-bottom: 1px solid #003333
}

img {
  max-width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
